@import './../../variables.styl'

.root
	//

// elements

.logo
	margin-bottom: 30px

.links
	margin-bottom: 30px
	font-size: 18px

.linkItem
	text-decoration: none
	&+&
		margin-left: 10px

// modifiers
