@import './variables.styl'

html,
body
    height: 100%

body
    font-family: 'Roboto', sans-serif
    font-size: 16px
    color: $grey_color_dark
    background: #f6fafb

div
    box-sizing: border-box

img
    max-width: 100%
    max-height: 100%